<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<description>Spring公共配置</description>
	
	<!-- 定义受环境影响易变的变量 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>config/log4j.properties</value>
				<value>config/jdbc.properties</value>
			</list>
		</property>
	</bean>
	
	<!--开启注解-->
	<context:annotation-config />
	<context:component-scan base-package="com.example" />
	
	<bean class="com.example.hibernate.util.ApplicationContextUtil"></bean>
	
	<import resource="classpath:/applicationContext-hibernate.xml" />
	<import resource="classpath:/applicationContext-ehcache.xml" />
    
</beans>
